// Tablets
@media (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  #overlay {
    #rules-card {
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      #rules-header {
        height: 80%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;
      }
    }
  }

  #rules-button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }

  .attribution {
    display: none;
  }

  #title-container {
    height: 4rem;
    width: 80%;
    #title {
      img {
        height: 100%;
      }
    }
    #scoreboard {
      height: 100%;
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;

      .score-title {
        font-size: 12px;
      }

      .actual-score {
        font-size: 40px;
      }
    }
  }

  #game-play-container {
    // display: flex;
    justify-content: space-around;

    #your-pick-container {
      position: absolute;
      right: 60%;
      #your-pick-title {
        position: absolute;
        bottom: -30%;
        left: 26%;
      }
    }
    #outcome-container {
      display: none;
      height: 200px;
      align-items: center;
      position: absolute;
      top: 500px;

      #your-outcome {
        position: absolute;
        bottom: 245px;
        width: 100%;
      }
      #play-again {
        position: absolute;
        width: 140%;
        height: 25%;
        font-size: 24px;
        bottom: 200px;
      }
    }
    #house-pick-container {
      height: 330px;
      width: 170px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      position: absolute;
      left: 60%;

      #house-pick-circle {
        position: absolute;
        top: 120px;
        left: 40px;
      }
    }
  }
}

// Small Tablets
// @media (max-width: 600px) {
//   #game-play-container {
//     #outcome-container {
//       position: absolute;
//       top: 320px;
//     }
//   }
// }

// Smart Phones
@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }

  #choices-container {
    zoom: 60%;

    #scissors-icon {
      position: absolute;
      margin: 0;
      top: 250px;
    }

    #paper-icon {
      position: absolute;
      margin: 0px;
      top: 350px;
      left: 425px;
    }

    #spock-icon {
      position: absolute;
      margin: 0px;
      top: 350px;
      left: 125px;
    }

    #rock-icon {
      position: absolute;
      margin: 0px;
      top: 525px;
      left: 375px;
    }

    #lizard-icon {
      position: absolute;
      margin: 0px;
      top: 525px;
      left: 175px;
    }

    .icon-container {
      height: 5rem;
      width: 5rem;

      // &::before {
      //   height: 80%;
      //   width: 80%;
      //   top: -10px;
      //   right: -7px
      // }
    }
  }

  #game-play-container {
    zoom: 60%;

    #outcome-container {
      position: absolute;
      top: 450px;
      margin: 0px;
    }
  }

  #rules-button {
    zoom: 60%;
  }
}